[submodule "SG_proj_004"]
	path = SG_proj_004
	url = https://github.com/HyunchanAn/SG_proj_004.git
[submodule "SG_proj_010"]
	path = SG_proj_010
	url = https://github.com/HyunchanAn/SG_proj_010.git
[submodule "SG_proj_011"]
	path = SG_proj_011
	url = https://github.com/HyunchanAn/SG_proj_011.git
[submodule "SG_proj_012"]
	path = SG_proj_012
	url = https://github.com/HyunchanAn/SG_proj_012.git
